
#*.gradle
*/build
*.idea
*.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar


.DS_Store
.gradle/

### .idea ###
.idea/
.idea/.name
.idea/*.xml
.idea/modules/*
.idea/libraries/*

